
/*
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url('/img/back-ground.jpg'); /* Ruta a la imagen de fondo */
    background-position: center top; /* Posición de la imagen de fondo */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija la imagen de fondo al hacer scroll */
    background-size: cover; /* Cubre toda la ventana con la imagen */
}
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mejorar la legibilidad del texto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #233140;
}

.logo img {
    height: 40px; /* ajusta la altura según sea necesario */
}

.menu {
    width: 250px;
    height: 100%;
    background-color: #2c3e50;
    color: #ecf0f1;
    position: fixed;
    overflow: hidden;
}

.menu-header {
    padding: 20px;
    text-align: center;
    background-color: #233140;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-list li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #34495e;
}

.menu-list li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.frases-container {
    margin-top: 20px;
}

.frases-container p {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 0;
    color: #333;
}

.error-box {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
}

.login-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-button a {
    color: #fff;
    text-decoration: none;
    background-color: #4caf50;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-button a:hover {
    background-color: #45a049;
}

.error-message {
    color: #cc0000;
    margin-top: 10px;
}
